<% default_img_url = "https://st.depositphotos.com/2934765/53192/v/450/depositphotos_531920820-stock-illustration-photo-available-vector-icon-default.jpg" %>
<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p id="timestamp">
    <strong>TimeStamp:</strong>
    <%= time_tag post.updated_at, "data-local": "time-ago" %>
  </p>
  
  <div>
    <% if post.image_url.present? %>
      <%= image_tag url_for(post.image_url) %>
    <% elsif post.image_file.attached? %>
      <%= image_tag url_for(post.image_file) %>
    <% else %>
      <%= image_tag url_for(default_img_url)%>
    <% end %>
  </div>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>
  
  <p>
    <strong>
      <%= pluralize post.comments.count, "comment" %>
    </strong>
  </p>


</div>
